<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-md-5 m-5 p-5">
    <p>ようこそ、ながのCAKEへ！</p>
    <p>このサイトは、ケーキ販売のECサイトになります。</p>
    <p>会員でない方も商品の閲覧はできますが、</p>
    <p>購入には会員登録が必要になります。</p>
    </div>
    <div class="col"></div>
  </div>
  <h1>新着商品</h1>
  <div class="row-md-4">
    <div class="col">
      <% @items.each do |item| %>
      <table class="table">
        <tbody>
          <tr>
              <%= link_to item_path(item.id) do %>
              <%= image_tag item.image,size: "100x100" %><br>
              <% end %>
              <%= item.name %><br>
              <%= item.price %><br>
          </tr>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>



